<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h3>Bienvenido a <%= title %></h3>
    <p>El portal donde podrá crear sus propios juegos!</p>
    <p><a href="/quizes/question">Comience a jugar</a></p>
    <p><a href="/author">Créditos</a></p>
  </body>
  <footer>https://github.com/lucynimoy/quiz</footer>
</html>
